https://dacon.io/competitions/official/235980/codeshare/6561

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

sns.set()

# 데이터 불러오기
data = pd.read_csv("data/kospi_data.csv", index_col=0, parse_dates=True)

data.head()

            Close   Open   High    Low     Volume  Change
Date
1981-05-01  123.6  123.6  123.6  123.6  3330000.0  0.0098
1981-05-02  123.5  123.5  123.5  123.5  2040000.0 -0.0008
1981-05-04  120.6  120.6  120.6  120.6  1930000.0 -0.0235
1981-05-06  120.7  120.7  120.7  120.7  1690000.0  0.0008
1981-05-07  119.3  119.3  119.3  119.3  1480000.0 -0.0116