In [1]:
import pandas as pd
import os
import re
from datetime import datetime as dt
# import requests
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.common.by import By

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
driver = webdriver.Chrome(os.path.join(os.getcwd(), 'chromedriver.exe'), chrome_options=chrome_options)

C:\Users\kyeul\AppData\Local\Temp/ipykernel_20984/1111861803.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(os.path.join(os.getcwd(), 'chromedriver.exe'), chrome_options=chrome_options)
C:\Users\kyeul\AppData\Local\Temp/ipykernel_20984/1111861803.py:13: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(os.path.join(os.getcwd(), 'chromedriver.exe'), chrome_options=chrome_options)

In [2]:
def getCode():
    # 알라딘 사이트의 도서 분야 코드를 수집

    codes = pd.DataFrame(columns=['code', 'name'])

    driver.get("https://www.aladin.co.kr/home/wbookmain.aspx")
    html = driver.page_source
    driver.quit()

    soup = BeautifulSoup(html, 'html.parser')
    browse_sub_list = soup.select('li.browse_sub > a')

    for li in browse_sub_list:
        codes = codes.append({'code':li.attrs['href'].split('=')[1], 'name': li.text}, ignore_index=True)

    codes.to_csv('codes.csv', encoding='utf-8', index=False)
    with open('metaData.csv', 'w') as f:
        f.write(datetime.today().strftime("%Y/%m/%d %H:%M:%S"))

In [3]:
getCode()

In [6]:
meta = pd.DataFrame(columns=['CodeUpdate'])
meta.to_csv('UpdaterMetaData.csv', encoding='utf-8', index=False)

In [5]:
datetime.today().strftime("%Y/%m/%d %H:%M:%S")

'2022/04/15 22:19:54'

In [18]:
meta['CodeUpdate'] = [2]

In [19]:
meta

   CodeUpdate
0           2

In [29]:
meta['CodeUpdate'][0]

2

In [37]:
import time

In [41]:
time.strptime(datetime.today().strftime("%Y/%m/%d"), "%Y/%m/%d") < time.strptime(yesterday.strftime("%Y/%m/%d"), "%Y/%m/%d")

False

In [33]:
from datetime import datetime, timedelta

In [35]:
yesterday = datetime.today() - timedelta(1)

print(type(yesterday.strftime("%Y-%m-%d")))

<class 'str'>

In [ ]:
117154362
117152378