In [1]:
import pandas as pd
import numpy as np

In [48]:
docs = [
    '먹 고 싶 은 사과 .',
    '먹 고 싶 은 바나나 .',
    '길 고 노란 바나나 가 바나나 .',
    '저 는 과일 이 좋아요 .',
    '바나나 나무 에 는 바나나 가 열린다 .',
    '어제 먹 은 사과 가 바나나 보다 맛있다 .'
]

In [49]:
vocab = []
for doc in docs:
    for w in doc.split():
        vocab.append(w)
vocab = set(vocab)
vocab

{'.',
 '가',
 '고',
 '과일',
 '길',
 '나무',
 '노란',
 '는',
 '맛있다',
 '먹',
 '바나나',
 '보다',
 '사과',
 '싶',
 '어제',
 '에',
 '열린다',
 '은',
 '이',
 '저',
 '좋아요'}

In [50]:
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()
vocab

['.',
 '가',
 '고',
 '과일',
 '길',
 '나무',
 '노란',
 '는',
 '맛있다',
 '먹',
 '바나나',
 '보다',
 '사과',
 '싶',
 '어제',
 '에',
 '열린다',
 '은',
 '이',
 '저',
 '좋아요']

In [57]:
N = len(docs)

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return np.log(N/df+1)

def tfidf(t, d):
    return tf(t,d) * idf(t)

In [58]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t,d))
        
tf_ = pd.DataFrame(result, columns = vocab)
tf_

   .  가  고  과일  길  나무  노란  는  맛있다  먹  ...  보다  사과  싶  어제  에  열린다  은  이  저  좋아요
0  1  0  1   0  0   0   0  0    0  1  ...   0   1  1   0  0    0  1  0  0    0
1  1  0  1   0  0   0   0  0    0  1  ...   0   0  1   0  0    0  1  0  0    0
2  1  1  1   0  1   0   1  0    0  0  ...   0   0  0   0  0    0  0  0  0    0
3  1  0  0   1  0   0   0  1    0  0  ...   0   0  0   0  0    0  0  1  1    1
4  1  1  0   0  0   1   0  1    0  0  ...   0   0  0   0  1    1  0  0  0    0
5  1  1  0   0  0   0   0  0    1  1  ...   1   1  0   1  0    0  1  0  0    0

[6 rows x 21 columns]

In [59]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result, index = vocab, columns=["IDF"])
idf_

          IDF
.    0.693147
가    1.098612
고    1.098612
과일   1.945910
길    1.945910
나무   1.945910
노란   1.945910
는    1.386294
맛있다  1.945910
먹    1.098612
바나나  0.916291
보다   1.945910
사과   1.386294
싶    1.386294
어제   1.945910
에    1.945910
열린다  1.945910
은    1.098612
이    1.945910
저    1.945910
좋아요  1.945910

In [73]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        
        result[-1].append(tfidf(t, d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,.,가,고,과일,길,나무,노란,는,맛있다,먹,...,보다,사과,싶,어제,에,열린다,은,이,저,좋아요
0,0.693147,0.000000,1.098612,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,1.098612,...,0.00000,1.386294,1.386294,0.00000,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000
1,0.693147,0.000000,1.098612,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,1.098612,...,0.00000,0.000000,1.386294,0.00000,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000
2,0.693147,1.098612,1.098612,0.00000,1.94591,0.00000,1.94591,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000
3,0.693147,0.000000,0.000000,1.94591,0.00000,0.00000,0.00000,1.386294,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,1.94591,1.94591,1.94591
4,0.693147,1.098612,0.000000,0.00000,0.00000,1.94591,0.00000,1.386294,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,1.94591,1.94591,0.000000,0.00000,0.00000,0.00000
5,0.693147,1.098612,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,1.94591,1.098612,...,1.94591,1.386294,0.000000,1.94591,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000

In [61]:
np_idf = idf_.to_numpy(copy=True)
np_tf = tf_.to_numpy(copy=True)

In [63]:
np_tf*np_idf

ValueError: operands could not be broadcast together with shapes (6,21) (21,1)

In [64]:
np_tf

array([[1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1],
       [1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 2, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0]])

In [71]:
pd.DataFrame(np_idf.reshape(21) * np_tf, columns=vocab)

,.,가,고,과일,길,나무,노란,는,맛있다,먹,...,보다,사과,싶,어제,에,열린다,은,이,저,좋아요
0,0.693147,0.000000,1.098612,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,1.098612,...,0.00000,1.386294,1.386294,0.00000,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000
1,0.693147,0.000000,1.098612,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,1.098612,...,0.00000,0.000000,1.386294,0.00000,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000
2,0.693147,1.098612,1.098612,0.00000,1.94591,0.00000,1.94591,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000
3,0.693147,0.000000,0.000000,1.94591,0.00000,0.00000,0.00000,1.386294,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,1.94591,1.94591,1.94591
4,0.693147,1.098612,0.000000,0.00000,0.00000,1.94591,0.00000,1.386294,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,1.94591,1.94591,0.000000,0.00000,0.00000,0.00000
5,0.693147,1.098612,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,1.94591,1.098612,...,1.94591,1.386294,0.000000,1.94591,0.00000,0.00000,1.098612,0.00000,0.00000,0.00000

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 6 is different from 1)